<body>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card" style="background-color: rgba(0,0,0,0.2) !important;border:0px !important;">
        <div class="card-header" style="background-color: rgba(0,0,0,0.2) !important;border:0px !important;">
          <h3>Elixir | Sign In</h3>
        </div>
        <div class="card-body">
          <div class="col">

            <button class="google btn" type="button" style="padding: 20px;width: 100%;" (click)="login()"><i class="fa fa-google-plus-square" style="padding: 20px;" aria-hidden="true" style="font-size:48px;"></i>  Login with Google</button>
            <button class="twitter btn" type="button" style="padding: 20px;width: 100%;" (click)="login()"><i class="fa fa-twitter-square" style="padding: 20px;" aria-hidden="true" style="font-size:48px;"></i>  Login with Twitter</button>
            <button class="facebook btn" type="button" style="padding: 20px;width: 100%;" (click)="login()"><i class="fa fa-facebook-square" style="padding: 20px;" aria-hidden="true" style="font-size:48px;"></i>  Login with Facebook</button>


          </div>
        </div>

      </div>
    </div>
  </div>
  </body>
  <!--

  <div class="card">
    <div class="card-body">
        <p>Login</p>
        <form [formGroup] novalidate>
          <div class="form-group">
            <input placeholder="User Name" type="text" class="form-control"
              #user_name />
          </div>
          <div class="form-group">
            <input placeholder="Password" type="password" class="form-control"
              #password />
          </div>

          <div class="form-group">
            <button (click) = "submit(user_name.value,password.value)" type="submit" class="btn btn-primary"  >
              Submit
            </button>
    </div>
        </form>
    </div>
  </div>

  -->

