<!--############  Add Modal Form  ############ -->
<div class="modal" id="addform">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Add</h5>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>

      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="card">
              <div class="card-body">
                <form [formGroup]="addForm" novalidate>
                 <div
                    class="form-group"
                    *ngFor="let f of this.formvalue.forms.attributes"
                  >
                    <div *ngIf="f.type != 'dropdown'">
                      <input
                        placeholder="{{ f.placeholder }}"
                        type="{{ f.type }}"
                        class="form-control"
                        formControlName="{{ f.formControlName }}"
                      />
                    </div>
                    <div *ngIf="f.type == 'dropdown'">
                      <select
                        class="form-control"
                        formControlName="{{ f.formControlName }}"
                      >
                        <option value="" disabled selected>{{
                          f.placeholder
                        }}</option>
                        <option
                          value="{{ f.dropdownval[i] }}"
                          *ngFor="let item of f.dropdownval; index as i"
                          >{{ f.dropdownval[i] }}</option
                        >
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <button
                      (click)="add()"
                      type="submit"
                      class="btn btn-primary"
                      [disabled]="addForm.pristine || addForm.invalid"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- #######################  LIST CONSULTANTS  ####################################### -->
<!--  Table content  -->
<div class="container-fluid" *ngIf="_router.url.includes('view')">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#addform"
        >
          Register
        </button>
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="row-border hover"
        >
          <thead>
            <tr>
              <th>ID</th>
              <!--<th  *ngFor="let attr of formvalue.forms.attributes">{{attr.placeholder}}</th>
              -->
              <th>Service Name</th>
              <th>Description</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let item of objlist; index as i">
              <td>{{ i + 1 }}</td>
              <td >{{ item.name }}</td>
              <td>{{ item.description }}</td>
              <td>
                <!--<button
                  (click)="updateview(item)"
                  type="submit"
                  class="btn btn-warning"
                  data-toggle="modal"
                  data-target="#editform"
                >
                  <i class="fa fa-edit"></i>
                </button> -->
              </td>
              <td>
                <button
                  (click)="remove(item.id)"
                  type="submit"
                  class="btn btn-danger"
                >
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->



<div class="container-fluid" *ngIf="_router.url.includes('map')">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="col-md-2" [formGroup]="serviceMap">
      <div class="form-group">
        <input class="form-control" placeholder="Consultant" formControlName="consultant" list="consultantlist" />
        <datalist id="consultantlist">
          <option *ngFor="let item of consultantlist" [value]="item.name">
            {{ item.id }}
          </option>
        </datalist>

        <table class="row-border hover">
          <thead>
            <button (click)="onAddRow()" *ngIf="serviceMap.get('rows')"
            class="btn btn-primary">
              add row
            </button>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let row of serviceMap.get('rows')['controls'];
                let index = index
              "
            >
              <td>
                <input
                  class="form-control"
                  placeholder="Service"
                  [formControl]="row.get('service')"
                  list="servicelist"
                />
                <datalist id="servicelist">
                  <option
                    *ngFor="let item of objlist"
                    [value]="item.name"
                  >
                    {{ item.id }}
                  </option>
                </datalist>
              </td>
              <td>
                <input
                class="form-control"
                style = "width: 100px;"
                  placeholder="Fee"
                  type="number"
                  min="0"
                  [formControl]="row.get('fee')"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  style = "width: 100px;"
                  placeholder="Consultant Share Type"
                  [formControl]="row.get('consultant_share_type')"
                  list="consultantsharelist"
                />
                <datalist id="consultantsharelist">
                  <option value="fixed">fixed</option>
                  <option value="percentage">percentage</option>
                </datalist>
              </td>
              <td>
                <input
                  class="form-control"
                  style = "width: 100px;"
                  placeholder="Consultant Share"
                  type="number"
                  min="0"
                  [formControl]="row.get('consultant_share')"
                />
              </td>
              <td>
                <input
                  class="form-control"
                  style = "width: 100px;"
                  placeholder="GST"
                  type="number"
                  min="0"
                  [formControl]="row.get('gst')"
                />
              </td>
              <td>
                <button (click)="onRemoveRow(index)"
                class="btn btn-danger"
                >Remove</button>
              </td>
            </tr>
            <tr>
              <button type="button" (click)="addService()"
              class="btn btn-success"
              >
                Submit
              </button>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>







<!-- #######################  LIST CONSULTANTS  ####################################### -->
<!--  Table content  -->
<div class="container-fluid" *ngIf="_router.url.includes('list')">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h3 class="m-0 font-weight-bold text-primary">

        <a routerLink="/consultationservices/map">Add Service</a>

      </h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger1"
          class="row-border hover"
        >
          <thead>
            <tr>
              <th>ID</th>
              <!--<th  *ngFor="let attr of formvalue.forms.attributes">{{attr.placeholder}}</th>
              -->
              <th>Consultant</th>
              <th>Service</th>
              <th>Fee</th>
              <th>ConsultantShareType</th>
              <th>ConsultantShare</th>
              <th>GST</th>
              <!--<th></th> -->
              <th></th>
            </tr>
          </thead>
          <tbody>
           <tr *ngFor="let item of consultantservicelist; index as i">
              <td>{{ i + 1 }}</td>
              <td >{{ item.consultant }}</td>
              <td>{{ item.consultation_service }}</td>
              <td>{{ item.fee }}</td>
              <td>{{ item.consultant_share_type }}</td>
              <td>{{ item.consultant_share }}</td>
              <td>{{ item.gst }}</td>
          <!--<td>
                <button
                  (click)="updateview(item)"
                  type="submit"
                  class="btn btn-warning"
                  data-toggle="modal"
                  data-target="#editform"
                >
                  <i class="fa fa-edit"></i>
                </button>
              </td>-->
              <td>
                <button
                  (click)="removeServiceMap(item.id)"
                  type="submit"
                  class="btn btn-danger"
                >
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->



